In [6]:
my_sql_query = "CREATE TABLE {}".format(table_name)
mysql.execute(my_sql_query)

NameError: name 'table_name' is not defined