In [1]:
a=5
type(a)

int

In [ ]:
cohort = {
    'course': 'Data Science', 
    'start':'Jan', 
    'end': 'Mar',
    'students': [
        {
            'name': 'Njogu',
            'age': 30, 
            'country': 'Kenya',
            'assignment_scores': {'assignment_1': 50, 'assignment_2': 70, 'assignment_3': 65}
        },
        {
            'name': 'Chinedu',
            'age': 29,
            'country': 'Nigeria',
            'assignment_scores': {'assignment_1': 55, 'assignment_2': 60, 'assignment_3': 85}
        }
    ]
}

In [3]:
a=5
type(a)

int

In [15]:
person = {"name": "Charles", "age":77, "Country": "UK"}
person

{'name': 'Charles', 'age': 77, 'Country': 'UK'}

In [17]:
name = person['name']
name

'Charles'

In [25]:
Country = person['Country']
age

77

In [53]:
import random
user_action = input("Enter a choice(scissors,paper,rock): ")
possible_actions = ["scissors","paper","rock"]
computer_action = random.choice(possible_actions)
print(f"You chose {user_action}, computer chose {computer_action}.")
if user_action == computer_action:
    print(f"both players selected {user_action}. You tied!")
elif user_action == "scissors":
    if computer_action == "rock":
        print("Rock smashes scissors. You lose!")
    else:
        print ("scissors cuts paper. You win!")
elif user_action ==" rock":
    if computer_action == "paper":
        print(" paper smashes rock. You lose!")
    else:
        print("Rock smashes scissors. You win!")
elif user_action== "paper":
    if computer_action == "scissors":
        print("scissors cuts paper. You lose!")
    else:
        print("Paper smashes rock. You win!")

Enter a choice(scissors,paper,rock): r
You chose r, computer chose scissors.

In [54]:
number = 0
while number < 10:
    number += 1
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9

In [55]:
0/2

0.0

In [56]:
5/3

1.6666666666666667

In [ ]:
import random

while True: 
    print('Make your choice:')
    choice = str(input())
    choice = choice.lower()

    print("Your choice is", choice)

    choices = ['rock', 'paper', 'scissors']

    computer_choice = random.choice(choices)

    print("Computer choice is", computer_choice)
    if choice in choices:
        if choice == computer_choice:
            print('it is a tie')
        if choice == 'rock':
            if computer_choice == 'paper':
                print('you lose, sorry :(')
            elif computer_choice == 'scissors':
                print('You win!!!!! congrats :)')
        if choice == 'paper':
            if computer_choice == 'scissors':
                print('you lose, sorry :(')
            elif computer_choice == 'rock':
                print('You win!!!!! congrats :)')
        if choice == 'scissors':
            if computer_choice == 'rock':
                print('you lose, sorry :(')
            elif computer_choice == 'paper':
                print('You win!!!!! congrats :)')
    else:
        print('invalid choice, try again')

    print()

Make your choice:
r
Your choice is r
Computer choice is rock
invalid choice, try again

Make your choice:

In [1]:
person = {"name": "James Bond", "age":77, "Country": "Kenya"}
person

{'name': 'James Bond', 'age': 77, 'Country': 'Kenya'}

In [10]:
x=person["name"]
print(x)

James Bond

In [6]:
print(x)

James Bond

In [7]:
x=person["Country"]
print(x)

Kenya

In [9]:
age=person['age']
print(age)

77

In [11]:
person["City"]="Nairobi"

In [13]:
print(person)

{'name': 'James Bond', 'age': 77, 'Country': 'Kenya', 'City': 'Nairobi'}

In [14]:
person["name"]="Pauline"
person

{'name': 'Pauline', 'age': 77, 'Country': 'Kenya', 'City': 'Nairobi'}

In [15]:
name=person['name']
name

'Pauline'

In [16]:
age=person['age']
print(age)

77

In [17]:
person["County"]="Vihiga"
person

{'name': 'Pauline',
 'age': 77,
 'Country': 'Kenya',
 'City': 'Nairobi',
 'County': 'Vihiga'}

In [18]:
del person["County"]
person

{'name': 'Pauline', 'age': 77, 'Country': 'Kenya', 'City': 'Nairobi'}

In [20]:
city=person.pop("City")
city

'Nairobi'

In [21]:
print(person)

{'name': 'Pauline', 'age': 77, 'Country': 'Kenya'}

In [22]:
x=person.pop('name')
x

'Pauline'

In [23]:
person

{'age': 77, 'Country': 'Kenya'}

In [24]:
age=person.pop('age')
person

{'Country': 'Kenya'}

In [27]:
person['City'] = 'Nairobi'
person

{'Country': 'Kenya', 'City': 'Nairobi'}

In [28]:
Country=person.popitem()
Country

('City', 'Nairobi')

In [29]:
person ['age']=88
person

{'Country': 'Kenya', 'age': 88}

In [32]:
age=person.popitem()
age

('age', 88)

In [33]:
person

{'Country': 'Kenya'}

In [34]:
person ['age']=90
person

{'Country': 'Kenya', 'age': 90}

In [35]:
person ['city']="Nairobi"
person

{'Country': 'Kenya', 'age': 90, 'city': 'Nairobi'}

In [36]:
person ['county']="vihiga"
person

{'Country': 'Kenya', 'age': 90, 'city': 'Nairobi', 'county': 'vihiga'}

In [37]:
x=person.popitem()
person

{'Country': 'Kenya', 'age': 90, 'city': 'Nairobi'}

In [38]:
del person("Country")
person

SyntaxError: cannot delete function call (2335690265.py, line 1)

In [39]:
del person["Country"]
person

{'age': 90, 'city': 'Nairobi'}

In [40]:
for value,key in person.items():
    print(value,key)

age 90
city Nairobi

In [52]:
for m,v in person.items():
    print(m,v)

age 90
city Nairobi

In [46]:
for keys,values in person.items():
    print(keys,values)

age 90
city Nairobi

In [56]:
pets = {"name":'cat',
        "origin":"asia",
        "color":"black" 
         }
pets

{'name': 'cat', 'origin': 'asia', 'color': 'black'}

In [58]:
for name, value in pets.items():
    print(name,value)

name cat
origin asia
color black

In [59]:
print(f'{name.title()}: {value.upper()}')

Color: BLACK

In [60]:
    print(f'{name.title()}: {value.upper()}')

Color: BLACK

In [71]:
red = "\033[1;31m"
blue = "\033[1;34m"
green = "\033[1;32m"
no_color = "\033[0m"
for name, value in pets.items():
    print(f"{red,name.title()}: {blue,value.color.blue()}")
print(no_color)

AttributeError: 'str' object has no attribute 'color'

In [72]:
red = "\033[1;31m"
blue = "\033[1;34m"
green = "\033[1;32m"
no_color = "\033[0m"

out = {
    'key1' : 'value1',
    'key2' : 'value2',
    'key3' : 'value3' }

for key in out.items () :
    print (red, key, blue, out [key])
print (no_color)

KeyError: ('key1', 'value1')